<main>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider mt-3">
    
    <div class="row featurette py-3">
      <div class="col-md-7 order-md-1">
        <h2 class="featurette-heading">This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5 order-md-2 d-flex justify-content-end">
        <img src="../website/assets/img/1.jpg" alt="img1" width="350" height="350" class="rounded-circle featurette-image img-fluid">
      </div>
    </div>

    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
</main>